@font-face {
    font-family: 'Samsung One KR';
    src: url(../font/SamsungOnekorean-400.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Samsung One KR';
    src: url(../font/SamsungOnekorean-700.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Samsung One';
    src: url(../font/SamsungOne-400.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Samsung One';
    src: url(../font/SamsungOne-700.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url(../font/SamsungSharpSans.woff2) format('woff2');
    font-weight: 700;
}