@-webkit-keyframes slideBulletAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes slideBulletAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@font-face {
  font-family: "Samsung One KR";
  src: url(../font/SamsungOnekorean-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Samsung One KR";
  src: url(../font/SamsungOnekorean-700.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Samsung One";
  src: url(../font/SamsungOne-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Samsung One";
  src: url(../font/SamsungOne-700.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Samsung Sharp Sans";
  src: url(../font/SamsungSharpSans.woff2) format("woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* setting */
html {
  font-size: 10px;
}

body {
  font-family: "Samsung One KR", "Samsung One", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.fixed-wrap {
  position: fixed;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.fixed-wrap.active {
  opacity: 1;
  visibility: visible;
}
.fixed-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  -webkit-box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #000;
  border-bottom: 1px solid #333;
}
.header .header-inner {
  max-width: 1440px;
  height: 100%;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .header .logo {
    width: 78px;
    height: 12px;
  }
}
.header .gnb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  margin: 0 3.125vw;
}
@media (max-width: 1023px) {
  .header .gnb-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0 8px;
  }
}
.header .gnb-wrap {
  height: 100%;
}
@media (max-width: 1023px) {
  .header .gnb-wrap {
    margin-right: 15px;
  }
  .header .gnb-wrap:last-of-type {
    margin-right: 0;
  }
}
.header .gnb-wrap .gnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header .gnb-wrap .gnb-item {
  padding: 0 12px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .header .gnb-wrap .gnb-item {
    padding: 0;
    margin-right: 15px;
  }
  .header .gnb-wrap .gnb-item:last-of-type {
    margin-right: 0;
  }
}
.header .gnb-wrap .gnb-item .link-hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header .gnb-wrap .gnb-item .link-hover::after {
  content: "";
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background: #fff;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  z-index: 2;
}
.header .gnb-wrap .gnb-item .link-hover:hover::after {
  width: 100%;
}
.header .gnb-wrap .gnb-item a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 1023px) {
  .header .gnb-wrap .gnb-item a {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2rem;
  }
}
.header .gnb-wrap .gnb-item.layout .left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 7.95vw 40px 90px;
}
.header .gnb-wrap .gnb-item.layout .left-wrap span {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  margin-bottom: 12px;
  padding-left: 8px;
}
.header .gnb-wrap .gnb-item.layout .left-wrap .img {
  width: 128px;
  height: 72px;
  margin-bottom: 12px;
}
.header .gnb-wrap .gnb-item.layout .left-wrap .link-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
}
.header .gnb-wrap .gnb-item.layout .left-wrap .arrow {
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.header .gnb-wrap .gnb-item.layout .sub-list {
  grid-template-columns: repeat(4, 1fr);
}
.header .gnb-wrap .gnb-item.layout2 .sub-list {
  grid-template-columns: repeat(3, 1fr);
  max-width: 1214px;
}
.header .gnb-wrap .gnb-item.layout2 .sub-item {
  width: 202px;
}
.header .gnb-wrap .gnb-item.layout2 .sub-item span {
  font-size: 1.6rem;
}
.header .sub-inner {
  display: none;
  width: 100%;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  background-color: #000;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023px) {
  .header .sub-inner {
    background-color: #0e0f10;
  }
}
.header .sub-inner.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .sub-inner .sub-wrap {
  padding: 50px 24px 44px 24px;
  max-width: 1214px;
}
@media (max-width: 1023px) {
  .header .sub-inner .sub-wrap {
    width: 100%;
    height: calc(100vh - 271px);
    overflow-y: auto;
    padding: 68px 32px 12px;
  }
}
@media (max-width: 1023px) {
  .header .sub-inner .sub-wrap::before {
    content: "";
    width: 100%;
    height: calc(100vh - 10%);
    position: fixed;
    left: 0;
    top: 10%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
  }
}
.header .sub-inner .sub-wrap .sub-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
}
@media (max-width: 1023px) {
  .header .sub-inner .sub-wrap .sub-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.header .sub-inner .sub-wrap .sub-item {
  position: relative;
  padding-left: 36px;
}
.header .sub-inner .sub-wrap .sub-item a > img {
  position: absolute;
  top: -8px;
  left: 0;
  width: 28px;
  height: 28px;
}
.header .sub-inner .sub-wrap .sub-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .sub-inner .sub-wrap .sub-item span img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
.header .depth3-wrap {
  margin-top: 10px;
}
.header .depth3-wrap .depth3-item > a {
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 6px;
  text-align: left;
  line-height: 1.43;
  display: block;
  color: #757575;
  font-weight: normal;
  display: inline-block;
}
.header .depth3-wrap .depth3-item.depth1 {
  position: relative;
  margin-top: 32px;
}
.header .depth3-wrap .depth3-item.depth1 > a {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
}
.header .depth3-wrap .depth3-item.depth1 > a > img {
  left: -36px;
  top: -4px;
}
.header .depth3-wrap .depth3-item .arrow-t2 {
  width: 10px !important;
  height: 10px !important;
  top: 3px !important;
  right: -15px;
  left: initial !important;
  opacity: 0.5;
}
.header .utils-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header .utils-wrap .btn-search img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1023px) {
  .header .utils-wrap .btn-search img {
    height: 16px;
    width: 16px;
  }
}
.header .utils-wrap .btn-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 13px;
}
.header .utils-wrap .btn-lang img {
  width: 18px;
  height: 18px;
}
@media (max-width: 1023px) {
  .header .utils-wrap .btn-lang img {
    height: 16px;
    width: 16px;
  }
}
.header .utils-wrap .btn-lang span {
  margin-left: 6px;
  color: #fff;
}
@media (max-width: 1023px) {
  .header .utils-wrap .btn-lang span {
    font-size: 10px;
  }
}
.header .btn-lang {
  position: relative;
}
.header .lang-list {
  display: none;
  position: absolute;
  top: 100%;
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  width: 147px;
  padding: 12px 7px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #1a1a1c;
  z-index: 2;
}
.header .lang-list.active {
  display: block;
}
.header .lang-list .lang-item {
  min-height: 36px;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .lang-list .lang-item.active {
  text-decoration: underline;
  font-weight: 700;
}

.search-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
}
.search-popup.on {
  display: block;
}
.search-popup .popup-inner {
  position: relative;
  padding-top: 152px;
}
.search-popup h2 {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.31;
  text-align: center;
  color: #ffffff;
  margin-bottom: 28px;
  max-width: 1156px;
  margin: 0 auto 28px;
}
.search-popup .btn-close {
  position: absolute;
  top: 80px;
  right: 105px;
  width: 32px;
  height: 32px;
}
.search-popup .btn-close img {
  width: 100%;
  height: 100%;
}
.search-popup fieldset {
  width: 684px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.search-popup .input-wrap {
  position: relative;
  width: 100%;
  padding-right: 52px;
  padding-left: 60px;
  background-color: #ffffff;
  border-radius: 28px;
}
.search-popup .input-wrap .btn-search {
  position: absolute;
  left: 24px;
  top: 16px;
  width: 24px;
  height: 24px;
}
.search-popup .input-wrap .btn-search path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.search-popup .input-wrap input {
  border: 0;
  background: none;
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-size: 1.8rem;
  line-height: 1.41;
  font-weight: 400;
  font-weight: 700;
  color: #000;
  opacity: 0.6;
}
.search-popup .input-wrap input:focus {
  outline: 0;
}
.search-popup .input-wrap input:focus ~ .btn-search path {
  fill: #000;
}
.search-popup .input-wrap input:focus ~ .search-list {
  display: block;
}
.search-popup .tag-wrap {
  margin-top: 28px;
}
.search-popup .tag-wrap a {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  background-color: transparent;
}
.search-popup .tag-wrap a:hover {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.search-popup .tag-wrap span {
  font-size: 14px;
  color: #ffffff;
}
.search-popup .search-list {
  display: none;
}
.search-popup .search-list span {
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: 700;
  padding: 16px 0;
  display: block;
}
.search-popup .search-list .link-wrap {
  border-top: 1px solid #ddd;
  text-align: right;
  width: calc(100% + 112px);
  position: relative;
  left: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.search-popup .search-list .link-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  height: 44px;
  padding-right: 16px;
}
.search-popup .search-list .link-close img {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
.search-popup .search-item {
  font-size: 16px;
  padding: 16px 0;
}

.footer {
  padding: 0 24px 48px;
}
.footer .grid-inner {
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .quick-wrap {
  width: 16.6%;
  margin-top: 55px;
}
.footer .quick-wrap .title-box {
  font-size: 1.4rem;
  line-height: 1.43;
  font-weight: 700;
  color: #555555;
  margin-bottom: 8px;
}
.footer .quick-wrap .quick-item {
  font-size: 1.2rem;
  line-height: 1.33;
  color: #555555;
  margin-bottom: 4px;
}
.footer .quick-wrap .quick-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .quick-wrap .quick-item img {
  width: 10px;
  height: 10px;
  margin-left: 3px;
}
.footer .btm-wrap {
  padding-top: 12px;
  margin-top: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .btm-wrap .left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .btm-wrap .left-wrap .privacy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  gap: 28px;
}
.footer .btm-wrap .left-wrap .privacy-item {
  font-size: 10px;
  font-weight: 700;
  line-height: 1.3;
  color: #555;
}
.footer .btm-wrap .left-wrap address {
  font-size: 10px;
  line-height: 1.3;
}
.footer .btm-wrap .right-wrap .channel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .btm-wrap .right-wrap .channel-list + .channel-list {
  margin-top: 12px;
}
.footer .btm-wrap .right-wrap .channel-list .title {
  width: 54px;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 700;
  color: #555555;
  margin-right: 12px;
}
.footer .btm-wrap .right-wrap .channel-item + .channel-item {
  margin-left: 12px;
}
.footer .btm-wrap .right-wrap .channel-item img {
  width: 24px;
  height: 24px;
}
.footer .btm-wrap .right-wrap strong {
  margin-left: 20px;
  width: 44px;
  height: 32px;
}

.sc-visual .swiper .page-wrap {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 33px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sc-visual .swiper .pagination {
  width: initial;
}
.sc-visual .swiper .autoplay {
  width: 16px;
  height: 16px;
}
.sc-visual .swiper .autoplay.start {
  display: none;
}
.sc-visual .swiper .autoplay.start.on {
  display: block;
}
.sc-visual .swiper .hidden {
  display: none;
}
@media (max-width: 1023px) {
  .sc-visual .swiper .btn {
    display: none;
  }
}
.sc-visual .swiper .btn-prev {
  left: 24px;
}
.sc-visual .swiper .btn-next {
  right: 24px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sc-visual .swiper .swiper-pagination-bullet {
  position: relative;
  width: 160px;
  border-radius: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  margin-right: 16px;
}
@media (max-width: 1023px) {
  .sc-visual .swiper .swiper-pagination-bullet {
    padding: 0 0 4px;
    width: 91px;
    font-size: 10px;
    line-height: 13px;
    margin-right: 8px;
  }
}
.sc-visual .swiper .swiper-pagination-bullet p {
  position: relative;
}
.sc-visual .swiper .swiper-pagination-bullet span {
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: repeating-linear-gradient(-45deg, #aaa, #aaa 3px, #fff 3px, #fff 6px);
}
.sc-visual .swiper .swiper-pagination-bullet-active {
  color: #fff;
}
.sc-visual .swiper .swiper-pagination-bullet-active span {
  -webkit-animation: 5000ms linear 0s 1 normal none running slideBulletAnimation;
          animation: 5000ms linear 0s 1 normal none running slideBulletAnimation;
}
.sc-visual .swiper .swiper-pagination-bullet-active .paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.sc-visual .swiper .swiper-pagination-bullet p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #aaaaaa;
}
.sc-visual .swiper-slide {
  height: 810px;
}
@media (max-width: 1023px) {
  .sc-visual .swiper-slide {
    height: 540px;
  }
}
@media (max-width: 767px) {
  .sc-visual .swiper-slide {
    height: 540px;
  }
}
.sc-visual .swiper-slide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-visual .swiper-slide .text-wrap {
  position: relative;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-align: center;
  max-width: 1156px;
  padding: 0 24px;
  opacity: 0;
}
@media (max-width: 1023px) {
  .sc-visual .swiper-slide .text-wrap {
    max-width: 704px;
    top: 50px;
  }
}
.sc-visual .swiper-slide .title {
  margin-bottom: 24px;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 8.7rem;
}
@media (max-width: 1023px) {
  .sc-visual .swiper-slide .title {
    margin-bottom: 16px;
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
}
@media (max-width: 767px) {
  .sc-visual .swiper-slide .title {
    margin-bottom: 12px;
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.sc-visual .swiper-slide .sub-title {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 24px;
}
@media (max-width: 1023px) {
  .sc-visual .swiper-slide .sub-title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 767px) {
  .sc-visual .swiper-slide .sub-title {
    margin-bottom: 4px;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
.sc-visual .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 810px;
  width: 100%;
}
@media (max-width: 1023px) {
  .sc-visual .swiper-slide img {
    height: 540px;
  }
}
.sc-visual .swiper-slide figure {
  height: 810px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (max-width: 1023px) {
  .sc-visual .swiper-slide figure {
    height: 540px;
  }
}
.sc-visual .swiper-slide figure picture {
  width: 100%;
  height: 100%;
}
.sc-visual .swiper-slide-active .text-wrap {
  opacity: 1;
}

.link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media (max-width: 1023px) {
  .link-wrap {
    margin-top: 12px;
  }
}
.link-wrap .link-more {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  padding: 0 5.5px 2px;
  border-bottom: 2px solid #fff;
}
.link-wrap .link-apply {
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px;
  background-color: #ffffff;
  color: #000000;
}

.btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.sc-info {
  padding-bottom: 80px;
}
.sc-info .title-wrap {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 120px 0 80px;
  text-align: center;
}
.sc-info .swiper-container {
  position: relative;
  overflow: hidden;
}
.sc-info .swiper {
  max-width: 1156px;
  overflow: visible;
}
.sc-info .swiper img {
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .sc-info .swiper-slide {
    padding: 0 32px;
  }
}
.sc-info .swiper-slide-active .text-wrapper {
  opacity: 1;
}
.sc-info .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}
.sc-info .text-wrap {
  width: 50%;
}
.sc-info .text-wrap .text-box.sub {
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
}
@media (max-width: 1023px) {
  .sc-info .text-wrap .text-box.sub {
    font-size: 1.5rem;
  }
}
.sc-info .text-wrap .text-box.main {
  display: block;
  padding-top: 12px;
  font-size: 3.6rem;
  font-weight: 700;
}
@media (max-width: 1023px) {
  .sc-info .text-wrap .text-box.main {
    font-size: 2.8rem;
    padding-top: 12px;
  }
}
.sc-info .desc-wrap {
  padding: 40px 0 0 24px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sc-info .desc-wrap span {
  font-size: 1.8rem;
}
@media (max-width: 1023px) {
  .sc-info .desc-wrap span {
    font-size: 1.5rem;
  }
}
@media (max-width: 1023px) {
  .sc-info .link-wrap {
    margin-top: 0;
  }
}
.sc-info .link-apply {
  margin-top: 32px;
  background-color: #000;
  color: #ffffff;
}
.sc-info .btn {
  top: 212px;
}
.sc-info .btn-prev {
  left: 48px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.sc-info .btn-next {
  right: 48px;
}
.sc-info .pagination {
  text-align: center;
  margin-top: 48px;
}
.sc-info .swiper-pagination-bullet {
  margin: 0 6px !important;
}
.sc-info .swiper-pagination-bullet-active {
  background: #000;
}

.sc-insight {
  background: #000;
  padding-top: 100px;
  margin-bottom: 60px;
  padding-bottom: 140px;
}
.sc-insight .insight-inner {
  margin: 0 auto;
  max-width: 1156px;
  padding: 0 32px;
}
.sc-insight .title-wrap {
  font-size: 3.6rem;
  line-height: 1.42;
  font-weight: 700;
  padding-bottom: 48px;
  text-align: center;
  color: #fff;
}
.sc-insight .tab-list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 49px;
}
.sc-insight .tab-list .swiper-pagination-bullet {
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: 0.2px;
  color: #757575;
  width: unset;
  height: unset;
  background-color: unset;
  border-radius: unset;
  opacity: 1;
}
.sc-insight .tab-list .swiper-pagination-bullet:hover {
  color: #fff;
}
.sc-insight .tab-list .swiper-pagination-bullet + .swiper-pagination-bullet::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 20px;
  top: 50%;
  margin-left: -28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #757575;
}
.sc-insight .tab-list .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.sc-insight .tab-list .swiper-pagination-bullet-active {
  color: #fff;
}
.sc-insight .tab-list .swiper-pagination-bullet-active::after {
  width: 100%;
}
.sc-insight .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .sc-insight .swiper-slide img {
    border-radius: 25px;
    width: 44.2708vw;
    min-width: 340px;
    min-height: 340px;
  }
}
.sc-insight .swiper-slide .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  margin-left: 64px;
}
@media (max-width: 1023px) {
  .sc-insight .swiper-slide .text-wrap {
    margin-left: 24px;
  }
}
.sc-insight .swiper-slide .text-wrap strong {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.39;
  margin-bottom: 8px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  opacity: 0;
}
@media (max-width: 1023px) {
  .sc-insight .swiper-slide .text-wrap strong {
    font-size: 16px;
    line-height: 1.44;
  }
}
.sc-insight .swiper-slide .text-wrap em {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 1.42;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
}
@media (max-width: 1023px) {
  .sc-insight .swiper-slide .text-wrap em {
    font-size: 3.4rem;
    margin-bottom: 24px;
  }
}
.sc-insight .swiper-slide .text-wrap span {
  font-size: 1.8rem;
  line-height: 1.39;
  font-weight: 400;
  margin-bottom: 40px;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
}
@media (max-width: 1023px) {
  .sc-insight .swiper-slide .text-wrap span {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 32px;
    max-width: 332px;
  }
}
.sc-insight .swiper-slide .text-wrap .link-wrap {
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
}
.sc-insight .swiper-slide-active .text-wrap strong {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.sc-insight .swiper-slide-active .text-wrap em {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.sc-insight .swiper-slide-active .text-wrap span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.sc-insight .swiper-slide-active .text-wrap .link-wrap {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.sc-prod .prod-inner {
  max-width: 1156px;
  padding: 80px 0px 140px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .sc-prod .prod-inner {
    padding: 80px 32px 140px;
  }
}
.sc-prod .prod-inner h3 {
  display: block;
  line-height: 1.31em;
  margin-top: 12px;
  font-weight: 700;
  font-size: 54px;
}
.sc-prod .prod-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.sc-prod .prod-list .prod-item {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.sc-prod .prod-list .prod-item.black .text-wrap {
  color: #000;
}
.sc-prod .prod-list .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.sc-prod .prod-list .text-wrap {
  padding: 36px 40px 0;
  position: absolute;
  top: 0;
  color: #fff;
}
.sc-prod .prod-list img {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.sc-prod .prod-list img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.sc-prod .prod-list strong {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}
.sc-prod .prod-list em {
  font-size: 32px;
  font-weight: 700;
  word-break: keep-all;
}
@media (max-width: 1023px) {
  .sc-prod .prod-list em {
    font-size: 18px;
  }
}

.sc-news {
  padding-top: 120px;
}
.sc-news .title-wrap h3 {
  font-size: 3.2rem;
  line-height: 1.33;
  font-weight: 700;
  letter-spacing: 0.2px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 1.33;
  text-align: center;
}
.sc-news .link-list {
  margin: 40px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.sc-news .link-list .link-item {
  background-color: #f8f8f8;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
}
.sc-news .link-list .link-item:hover {
  background: #000;
}
.sc-news .link-list .link-item:hover a {
  color: #fff;
}
.sc-news .link-list a {
  color: #000000;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
}
.sc-news .news-wrapper {
  max-width: 1155px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 24px;
}
.sc-news .news-wrapper .news-item {
  margin-bottom: 64px;
  padding: 0 32px;
}
.sc-news .news-wrapper .img-wrap {
  position: relative;
  border-radius: 20px;
  margin: 0 -32px 24px -32px;
  overflow: hidden;
}
.sc-news .news-wrapper .text-wrap span {
  font-size: 1.2rem;
  line-height: 1.33;
  margin-bottom: 8px;
  font-weight: 700;
  color: #666;
  font-size: 12px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.sc-news .news-wrapper .text-wrap strong {
  font-size: 2.4rem;
  line-height: 1.41;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 18px;
  display: block;
  display: -webkit-box;
  max-height: 4.26em;
  text-overflow: ellipsis;
  line-height: 1.42em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  margin-bottom: 16px;
  letter-spacing: 0;
}

.tag-wrap a {
  height: 28px;
  padding: 0 16px;
  border-radius: 28px;
  margin: 0 0 8px 8px;
  display: inline-block;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.tag-wrap a:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
}
.tag-wrap span {
  line-height: 28px;
  font-size: 10px;
  font-weight: 700;
}

.sc-recruit .recruit-inner {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 120px 0 100px;
}
.sc-recruit .text-wrap {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  padding: 0 140px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sc-recruit .text-wrap span {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  display: block;
}
.sc-recruit .text-wrap em {
  margin-top: 8px;
  font-size: 48px;
  line-height: 1.41;
  font-weight: 700;
}
.sc-recruit img {
  width: 100%;
  height: 380px;
  max-height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-recruit .link-wrap {
  margin-top: 28px;
}

.sc-search .search-inner {
  padding-bottom: 60px;
  margin: 0 auto 60px;
}
.sc-search .title-wrap {
  padding-top: 100px;
  max-width: 1180px;
  margin: 0 auto 28px;
}
.sc-search .title-wrap h3 {
  font-size: 3.6rem;
  line-height: 1.42;
  font-weight: 700;
  text-align: center;
}
.sc-search form fieldset {
  width: 496px;
  margin: 0 auto;
  position: relative;
  border: 0;
}
.sc-search .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.sc-search .btn-search {
  position: absolute;
  left: 16px;
  top: 7px;
  width: 16px;
  height: 16px;
}
.sc-search .btn-search path {
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.sc-search input {
  border: 0;
  background: 0;
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-weight: 700;
  font-size: 1.6rem;
}
.sc-search input:focus {
  outline: none;
}
.sc-search input:focus ~ .btn-search path {
  fill: #000;
}
.sc-search input:focus ~ .search-list {
  display: block;
}
.sc-search .search-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 46px 60px 0 40px;
  color: #000;
  border-radius: 20px 20px 0 0px;
  overflow: hidden;
  z-index: -1;
}
.sc-search .search-list span {
  font-weight: 700;
  padding: 8px 0;
  font-size: 1.6rem;
  line-height: 24px;
  display: block;
}
.sc-search .search-list .search-item {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 24px;
  padding: 8px 0;
}
.sc-search .tag-wrap {
  position: relative;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.sc-search .tag-wrap a {
  margin-bottom: 0;
}